.color-picker > * {
	display: block;
	margin-bottom: 10px;
}

#main-row {
	height: 100vh;
	display: flex;
}

#main-row > * {
	margin: 0px;
	padding-top: 10px;
}

#small-side-bar > a {
	margin: 10px;
}

#small-side-bar {
	flex-direction: column;
	background: #272822;
	width: 5% !important;
}

#large-side-bar {
	flex-direction: column;
	background: #1E1F1C;
	color: white;
}

.color-box {
	background-color: #FBCEAE;
	display: inline-block;
	margin: 0px 1px 0px 1px;
	height: 5vw;
	width: 5vw;
	/* background: red; */
	/* box-shadow: 10px 5px 5px rgba(175, 175, 175, 0.623); */
}

#art-space {
	width: 100%;
	background: #272822;
}

#art-space .row {
	display: flex;
	height: 10%;
	margin: 0;
}

.ani {
	animation-name: color;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}


@keyframes color {
	from {background-color: #FBCEAE;}
	to {background-color: #84AF9C;
	transform: scale(.1);}
}

